<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-md-6">
              <h4 class="mb-0">Course list</h4>
            </div>
            <div class="col-md-6">
              <input class="form-control list-item-surch-box" placeholder="Search here" type="text"
                [(ngModel)]="searchString">
            </div>
          </div>
        </div>
        <div class="card-body p-0">
          <div class="teable-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Course Code</th>
                  <!-- <th scope="col">Semester</th> -->
                  <th scope="col">Credit</th>
                  <!-- <th scope="col" class="text-center">Actions</th> -->
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of courseList | filter : searchFields : searchString; let i = index;">
                  <td>{{ item.course_name }}</td>
                  <td>{{ item.course_code }}</td>
                  <!-- <td>{{ item.semester}}</td> -->
                  <td>{{ item.course_credit}}</td>
                  <!-- <td class="text-center">
                    <button class="btn btn-info btn-sm mr-1" (click)="onClickEdit(item, i)">Edit</button>
                    <button class="btn btn-danger btn-sm" (click)="onClickDelete(item, i)">Delete</button>
                  </td> -->
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <form class="card" name="form" (ngSubmit)="f.form.valid && onClickSave(f)" #f="ngForm" novalidate>
        <div class="card-header">
          <div class="row">
            <div class="col-md-6">
              <!-- <h4 class="mb-0">New Course</h4> -->
            </div>
            <div class="col-md-6 text-right">
              <button class="btn btn-primary" (click)="onClickNewCourse(f)" type="button">New Course</button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="form-group">
            <input type="text" class="form-control" [(ngModel)]="course.course_name" name="course_name"
              #course_name="ngModel">
            <label class="form-control-placeholder cs-sup">Course Name</label>
            <div
              *ngIf="f.submitted && course_name.invalid || (course_name.invalid && (course_name.dirty || course_name.touched))"
              class="alert alert-danger">
              <div *ngIf="course_name.errors.required">
                Course Name is required.
              </div>
            </div>
          </div>
          <!--/.form-group-->
          <div class="form-group">
            <input type="text" class="form-control" [(ngModel)]="course.course_code" name="course_code"
              #course_code="ngModel" required minlength="4">
            <label class="form-control-placeholder cs-sup">Course Code</label>
            <div
              *ngIf="f.submitted && course_code.invalid || (course_code.invalid && (course_code.dirty || course_code.touched))"
              class="alert alert-danger">
              <div *ngIf="course_code.errors.required">
                Course Code is required.
              </div>
              <div *ngIf="course_code.errors.minlength">
                Code must be at least 4 characters long.
              </div>
            </div>
          </div>
          <!--/.form-group-->
          <div class="form-group">
            <input type="number" class="form-control" [(ngModel)]="course.course_credit" name="course_credit"
              #course_credit="ngModel" required>
            <label class="form-control-placeholder cs-sup">Course Credit</label>
            <div
              *ngIf="f.submitted && course_credit.invalid || (course_credit.invalid && (course_credit.dirty || course_credit.touched))"
              class="alert alert-danger">
              <div *ngIf="course_credit.errors.required">
                Course Credit is required.
              </div>
            </div>
          </div>
          <!--/.form-group-->
          <!-- <div class="form-group">
            <input type="number" class="form-control" [(ngModel)]="course.semester" name="semester" #semester="ngModel" required>
            <label class="form-control-placeholder cs-sup">Semester</label>
            <div *ngIf="f.submitted && semester.invalid || (semester.invalid && (semester.dirty || semester.touched))" class="alert alert-danger">
              <div *ngIf="semester.errors.required">
                Semester is required.
              </div>
            </div>
          </div> -->
          <!--/.form-group-->

          <div>
            <button class="btn btn-primary" *ngIf="!course.course_no" type="submit">Save</button>
            <button class="btn btn-primary" *ngIf="course.course_no" type="submit">Update</button>
          </div>
        </div>
      </form>
      <!--/.card-->
    </div>
  </div>
</div>